  /* Stili personalizzati per lo stato della scorta */
.status-in-stock {
    background-color: #d4edda; /* Verde chiaro per "In Magazzino" */
    color: #155724; /* Testo verde scuro */
    padding: .35em .65em; /* Padding per badge */
    font-size: .75em; /* Dimensione del font per badge */
    font-weight: 700; /* Grassetto per badge */
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .375rem; /* Bordi arrotondati */
}

.status-low-stock {
    background-color: #fff3cd; /* Giallo chiaro per "Bassa Scorta" */
    color: #856404; /* Testo giallo scuro */
    padding: .35em .65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .375rem;
}

.status-out-of-stock {
    background-color: #f8d7da; /* Rosso chiaro per "Esaurito" */
    color: #721c24; /* Testo rosso scuro */
    padding: .35em .65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .375rem;
}

/* Stili per le immagini dei prodotti nella tabella */
.table img {
    border: 1px solid #dee2e6; /* Bordo sottile per le immagini */
}

/* file custom.css o <style> */
#status-filter { 
    max-width: 200px;      /* oppure la misura che preferisci */
    width: auto;           /* sovrascrive la width:100% di Bootstrap */
  }
  