.order-button {
    background-color: #7f5539;
    color: white;
}

.order-button:hover {
    background-color: #7f5539;
    color: white;
    opacity: 0.8;
}

@media (max-width:768px) {
    .card {
        width: 100% !important;
    }
}