/* Pulsanti all'interno del footer della carta, stilizzati */
.card-footer .btn {
    width: 48%;
    font-size: 0.85rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.card-footer .d-flex {
    width: 100%; /* Imposta larghezza al 100% per i pulsanti */
    gap: 0.5rem; /* Distanza tra i due pulsanti */
}

.card-footer .btn-sm {
    font-size: 0.85rem;
    padding: 0.5rem;
}
