.modal-content {
    background-color: #e6ccb2;
}

@media (max-width: 768px) {
    #profile-container {
        flex-direction: column !important;
    }

    #order-history-area {
        padding: 6px 4px !important;
    }
}