/* Reviews Section Styles */
.star-rating {
    font-size: 1.2rem;
    letter-spacing: 3px;
}

#reviewsList {
    padding: 0;
}

#reviewsList .list-group-item {
    text-align: left;
    border-left: none;
    border-right: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(0,0,0,0.125);
}

#reviewsList .list-group-item:last-child {
    border-bottom: none;
}


.star-rating {
    color: #9C6644;
}
